{% extends 'layouts/base.html' %}

{% block content %}

<h2>Составьте список грузов</h2>

<div class="col-12 mt-2 border-bottom cargo-item">
    <h4>Текущий заказ</h4>
    <h5>Общий вес - {{ total_weight }} кг</h5>
    {% if order_items %}
        {% for item in order_items.values() %}
        <div class="col">
            <span class="fs-5">{{ item['name'] }} - {{ item['amount'] }}</span>
        </div>
        {% endfor %}
        <a href="{{ url_for('client_app.new_delivery_handler', total_weight=total_weight) }}" class="btn btn-primary m-2">Оформить заказ</a>
        <a href="{{ url_for('client_app.items_app.clear_order')}}" class="btn btn-warning m-2">Очистить</a>
    {% endif %}
</div>
<div class="row">
{% for cargo in cargos %}
    <div class="col-6 mt-2 border-bottom cargo-item">
        <div class="col">
            <span class="fs-5">{{ cargo['name'] }}</span>
        </div>
        <div class="col">
            <span>{{ cargo['weight'] }} кг</span>
        </div>
        <p>
            <form action="" method="POST">
                <input type="hidden" name="cargo_id" value="{{ cargo['id'] }}">
                <input type="submit" name="send" value="Добавить" class="btn btn-success">
            </form>
        </p>
    </div>
{% endfor %}
</div>
{% endblock %}