{% extends 'layouts/base.html' %}

{% block content %}

<h1>Отчеты</h1>
{% include 'components/form-control.html' %}
{% if errtitle %}
    <h3 style="color: red; margin-top: 20px;">{{ errtitle }}</h3>
{% endif %}
{% if not create %}
    <a class="btn btn-primary mt-3" href="{{ url_for('staff_app.report_app.report_create_handler') }}">Создать отчет</a>
    {% if reports %}
        <table class="table table-striped mt-3" style="background-color: azure;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Груз</th>
                    <th scope="col">Год</th>
                    <th scope="col">Месяц</th>
                    <th scope="col">Количество перевозок</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr>
                    <th scope="row">{{ report.id }}</th>
                    <td>{{ report.cargo_name }}</td>
                    <td>{{ report.year }}</td>
                    <td>{{ report.month }}</td>
                    <td>{{ report.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

{% endblock %}