<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Отправитель</h2>
        </div>
        <div class="col-8">
            <h3>{{ client.surname }} {{ client.name }} {{ client.fatherhood }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Дата отправки</h2>
        </div>
        <div class="col-8">
            <h3>{{ delivery.send_date }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Дата доставки</h2>
        </div>
        <div class="col-8">
            <h3>{{ delivery.delivery_date }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Адрес отправки</h2>
        </div>
        <div class="col-8">
            <h3>{{ delivery.send_address }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Адрес доставки</h2>
        </div>
        <div class="col-8">
            <h3>{{ delivery.delivery_address }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Водитель</h2>
        </div>
        <div class="col-8">
            <h3>{{ driver.surname }} {{ driver.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Транспорт</h2>
        </div>
        <div class="col-8">
            <h3>{{ transport.model }} {{ transport.reg_number }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Экспедитор</h2>
        </div>
        <div class="col-8">
            <h3>{{ manager.surname }} {{ manager.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Общий вес</h2>
        </div>
        <div class="col-8">
            <h3>{{ delivery.total_weight }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Статус заказа</h2>
        </div>
        <div class="col-8">
            <h3>{{ delivery.status }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Список грузов</h2>
        </div>
        <div class="col-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Груз</th>
                    <th scope="col">Вес</th>
                    <th scope="col">Клличество</th>
                </tr>
                </thead>
                <tbody>
                    {% for cargo in delivery.cargos %}
                        <tr>
                            <th scope="row">{{ cargo }}</th>
                            <td>{{ cargo.name }}</td>
                            <td>{{ cargo.weight }}</td>
                            <td>{{ cargo.amount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>