<h3>Доставки</h3>
<table class="table table-striped mt-3" style="background-color: azure;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Номер документа клиента</th>
            <th scope="col">Дата отправки</th>
            <th scope="col">Дата доставки</th>
            <th scope="col">Адрес отправки</th>
            <th scope="col">Адрес доставки</th>
            <th scope="col">Вес</th>
            <th scope="col">Экспедитор</th>
            <th scope="col">Клиент</th>
            <th scope="col">Автомобиль</th>
            <th scope="col">Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for delivery in deliveries %}
        <tr>
            <td scope="row">{{ delivery.client_id }}</td>
            <td>{{ delivery.send_date }}</td>
            <td>{{ delivery.delivery_date }}</td>
            <td>{{ delivery.send_address }}</td>
            <td>{{ delivery.delivery_address }}</td>
            <td>{{ delivery.total_weight }}</td>
            <td>{{ delivery.manager_surname }}</td>
            <td>{{ delivery.driver_surname }}</td>
            <td>{{ delivery.trasnport_model }}</td>
            <td>{{ delivery.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>