{% if not staff_status %}
    <a href="/delivery/" class="list-group-item">Доставки</a>
    <a href="/delivery/new" class="list-group-item">Новая доставка</a>
{% else %}
    <a href="/staff/info" class="list-group-item">Информация</a>
    <a href="/staff/report" class="list-group-item">Отчетность</a>
{% endif %}
{% if not logged %}
    <a href="/auth/login" class="list-group-item">Войти</a>
    <a href="/auth/sign-up" class="list-group-item">Создать аккаунт</a>
{% else %}
    <a href="/profile/" class="list-group-item">Профиль</a>
    <a href="{{ url_for('auth_app.logout_handler') }}" class="list-group-item">Выйти</a>
{% endif %}
{% if return_page_url %}
    <a href="{{ return_page_url }}" class="list-group-item">Назад</a>
{% endif %}