{% if not staff_status %}
    <a href="{{ url_for('deliveries_app.deliveries_handler') }}" class="list-group-item">Доставки</a>
    <a href="/delivery/new" class="list-group-item">Новая доставка</a>
{% else %}
    <a href="{{ url_for('staff_app.default_info_handler') }}" class="list-group-item">Информация</a>
    <a href="{{ url_for('staff_app.report_app.report_check_handler') }}" class="list-group-item">Отчетность</a>
{% endif %}
{% if not logged %}
    <a href="{{ url_for('auth_app.login_handler') }}" class="list-group-item">Войти</a>
    <a href="{{ url_for('auth_app.signup_handler') }}" class="list-group-item">Создать аккаунт</a>
{% else %}
    <a href="{{ url_for('profile_app.profile_handler') }}" class="list-group-item">Профиль</a>
{% endif %}
{% if return_url %}
    <a href="{{ return_url }}" class="list-group-item">Назад</a>
{% else %}
    {% if logged %}
        <a href="{{ url_for('auth_app.logout_handler') }}" class="list-group-item">Выйти</a>
    {% endif %}
{% endif %}
