<form method="GET">
    <div class="form-row">
        {% for option in search_options %}
            <div class="col">
                <label>{{ option.name }}</label>
                {% if option.params %}
                  <select class="form-control form-control-md" name="{{ option.arg }}">
                    {% for param in option.params %}
                        <option>{{ param }}</option>
                    {% endfor %}
                  </select>
                {% else %}
                    <input type="text" class="form-control" name="{{ option.arg }}">
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success mt-3">Поиск</button>
    </div>
</form>